/* Suggestions */
.suggestions-section {
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.suggestions {
    display: flex;
    overflow-y: scroll;

    /* Hides the scrollbar for IE, Firefox, and Edge */
    -ms-scrollbar-width: none; /* For IE, and Edge */
    scrollbar-width: none; /* For Firefox */
}

/* Hides the scrollbar for Chromium based browsers */
.suggestions::-webkit-scrollbar {
    display: none;
}


/* Videos */
.videos-section {
    background-color: #F9F9F9;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #CCCCCC;
}

.videos:first-child {
    border-top: none;
}

